#n1{
  color: black;
  background-color:white;
}
#photo_menu{
  alt: 150px;
  width: 150px;
}
figure {
  position: relative;
  width: 310px;
  height: 310px;
}
figure img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
figure .back {
  position: absolute;
  top: 40px;
  left: -40px;
  width: 100%;
  height: 100%;
  background-color: #f6cd61;
  z-index: -1;
}
.about{
  padding:80px 0;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.site_heading {
  font-family: "Merienda";
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}
.mb_auto {
  margin-bottom: auto;
}

.valign_wrapper {
  text-align: center;
}



.site_subheading {
  font-size: 20px;
  color: #fff;
  letter-spacing: 6px;
}
.header {
  width: 100%;
  height: 500px;
  background-image: url("../img/IMG_9692.jpeg");
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}
.line-space {
  line-height: 40px;
}
#f{
  background-color: black;
  color: #fff;
}
#primary {
  color: #fff;
  background-color: #1a1c20 ;
  border-color: #1a1c20;
}
#l{
  background-color:  #f6cd61 !important;
}
.food_offer {
  width: 100%;
  height: 500px;
  background-image: url("../img/comida2.jpg");
  color: #fff;
}
.food_offer_heading {
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
}
.food_offer_subheading {
  font-weight: 300;
  letter-spacing: 5px;
}

.offer-btn {
  display: inline-block;
  text-decoration: none;
  color:#f6cd61;
  background-color: #fff;
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 27px;
  transition: 0.4s all;
}

.offer-btn2 {
  display: inline-block;
  text-decoration: none;
  color:#fff;
  background-color: #ffa931;
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 27px;
  transition: 0.4s all;
}
.offer-btn:hover {
  background-color:#f6cd61;
  color: #fff;
}

.menu {
  list-style-type: none;
}
.menu_item {
  display: flex;
  justify-content: space-between;
  color: black;
  line-height: 50px;
}
.menu_price {
  color:#c57f1e;
}

.navbar-dark .navbar-brand {
  color:black !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.76) !important;
}
.form-signin {
  width: 120%;
  max-width: 700px;
  padding: 15px;
  border: 3px solid #555;
  margin: auto;
  -ms-flex-align: center;
  align-items: center;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
#navbar{
  background-color: #f6cd61;
}
#form{
  background-color: #f6cd61;
}

#form2{
  background-color: #e8e8e8;
}

.text-info{
  color: black !important;
}

.card-body{
  align-items: right !important;
}


/*# sourceMappingURL=style.css.map */